body{
      color:white;
}
.main_container{
 /* background-color:#9B606F !important; */
  min-height:100vh;
}
.container{
  min-height: 100vh;
}
.centre_container{
  display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 25vw;
    height: 70vh;
    margin: auto;
    color:white;
    border:2px solid white;
    border-radius: 1rem;
    background-color:cadetblue;
    padding:10px 0 0 5px;
}
.home_container{
  display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60vw;
    height: 70vh;
    margin: auto;
    color:white;
    border:2px solid white;
    border-radius: 1rem;
    background-color:cadetblue;
    padding:10px 3px 5px 5px;
}
.login_container{
  margin:0 0 0 10px;
}
.login_container h1{
  text-align: center;
  padding:15px 0 15px 0;
}
.login_container form{
  margin: 0 0 10px 0;
}
.input_container{
   margin:0 0 15px 0px;
  }
  .input_container label{
    width:5rem;
   }
.input_container input{
  background:none;
  color:white;
  border:1px solid white;
}  
.btn{
  margin-left:0rem;
}
.login_container a{
  color:white;
  font-weight: bold;
  size:28px;
}